@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=Urbanist:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navBg {
    background: var(--Grey-10, #1a1a1a);
  }

  .hoverBg {
    border-radius: 8px;
    border: 1px solid var(--Grey-15, #262626);
    background: var(--Grey-08, #0a0a0a);
  }

  .searchInput {
    border-radius: 8px;
    border: 1px solid var(--Grey-15, #262626);
    background: var(--Grey-08, #141414);
  }

  .lastFooter {
    background: var(--Grey-10, #1a1a1a);
  }

  .footerIcon {
    border-radius: 58px;
    background: var(--Grey-08, #141414);
  }

  .Bg {
    background: var(--Grey-08, #141414);
  }

  .homeBg {
    background: linear-gradient(
      238deg,
      #2a213f 8.76%,
      rgba(168, 153, 153, 0) 50.09%
    );
    /* lightgray 50% / cover no-repeat; */
  }

  .learnMore {
    border-radius: 8px;
    border: 1px solid var(--Grey-15, #262626);
  }

  .Browse {
    border-radius: 8px;
    background: var(--Purple-60, #703bf7);
  }

  .homeNumber {
    border-radius: 10px;
    border: 1px solid var(--Grey-15, #262626);
    background: var(--Grey-10, #1a1a1a);
  }

  .prop_ppt {
    border: 1px solid var(--Grey-15, #262626);
    background: var(--Grey-08, #141414);
    box-shadow: 0px 0px 0px 6px #191919;
  }

  .inner_ppt {
    border-radius: 10px;
    border: 1px solid var(--Grey-15, #262626);
    background: var(--Grey-10, #1a1a1a);
  }
}
